In [1]:
SELECT first_name, department,
CASE
    WHEN salary > 100000 THEN 'Well Paid'
    WHEN salary < 100000 THEN 'Underpaid'
END
FROM employees
LIMIT 10;

first_name,department,case
Arabele,Books,Well Paid
Manuel,Computers,Well Paid
Pinchas,Grocery,Well Paid
Pierson,Games,Well Paid
Muire,Beauty,Well Paid
Melony,Jewelery,Well Paid
Berkley,Toys,Well Paid
Lesly,Computers,Well Paid
Nichol,Beauty,Well Paid
Delmore,Movies,Well Paid

In [3]:
SELECT first_name, department,
CASE
    WHEN salary < 100000 THEN 'Bad'
    WHEN salary > 100000 AND salary < 500000 THEN 'Good'
    WHEN salary > 500000 THEN 'Very Good'
    ELSE 'Unpaid'
END AS payment_status
FROM employees
LIMIT 10;

first_name,department,payment_status
Arabele,Books,Very Good
Manuel,Computers,Good
Pinchas,Grocery,Good
Pierson,Games,Good
Muire,Beauty,Good
Melony,Jewelery,Very Good
Berkley,Toys,Good
Lesly,Computers,Very Good
Nichol,Beauty,Very Good
Delmore,Movies,Good

In [4]:
SELECT
SUM(CASE WHEN salary < 100000 THEN 1 ELSE 0 END) AS underpaid,
SUM(CASE WHEN salary > 100000 AND salary < 500000 THEN 1 ELSE 0 END) AS well_paid,
SUM(CASE WHEN salary > 500000 THEN 1 ELSE 0 END) AS executive
FROM employees;

underpaid,well_paid,executive
137,290,273