In [2]:
-- select all regions
SELECT * FROM regions;

id,name,country
1,Quebec,Canada
2,Colorado,United States
3,Florida,United States
4,Texas,United States
5,Berlin,Germany
6,Alberta,Canada
7,Ontario,Canada
8,Hamburg,Germany

In [3]:
-- select all regions limit result columns to name and country
SELECT name, country FROM regions;

name,country
Quebec,Canada
Colorado,United States
Florida,United States
Texas,United States
Berlin,Germany
Alberta,Canada
Ontario,Canada
Hamburg,Germany

In [4]:
-- limit result to 5 rows
SELECT first_name, last_name FROM employees LIMIT 5;

first_name,last_name
Arabele,Cancellieri
Manuel,Giffaut
Pinchas,Bargery
Pierson,McCrudden
Muire,Rapsey

In [5]:
-- alias for columns
SELECT first_name AS "First Name", last_name AS "Last Name" FROM employees LIMIT 5;

First Name,Last Name
Arabele,Cancellieri
Manuel,Giffaut
Pinchas,Bargery
Pierson,McCrudden
Muire,Rapsey

In [6]:
-- filter by id
SELECT * FROM employees WHERE id=150;

id,first_name,last_name,email,hire_date,department,gender,salary,region_id
150,Christy,Muggleton,cmuggleton45@mysql.com,2018-11-01,Grocery,M,92810.99,7

In [8]:
-- select all departments whose division name is Home
SELECT * FROM departments WHERE division = 'Home';

department,division
Shoes,Home
Grocery,Home
Beauty,Home
Clothing,Home
Jewelery,Home

In [9]:
-- select all departments whose department name has any character
SELECT * FROM departments WHERE department LIKE '%';

department,division
Computers,Electronics
Automotive,Hardware
Books,Entertainment
Shoes,Home
Grocery,Home
Beauty,Home
Clothing,Home
Games,Kids
Music,Entertainment
Garden,Outdoors
Jewelery,Home
Toys,Kids
Movies,Entertainment

In [10]:
-- select all departments whose department name has exactly 4 character
SELECT * FROM departments WHERE department LIKE '____';

department,division
Toys,Kids

In [12]:
-- select all departments whose department name ends with es
SELECT * FROM departments WHERE department LIKE '%es';

department,division
Shoes,Home
Games,Kids
Movies,Entertainment

In [20]:
-- select all departments whose department name has er in middle
SELECT * FROM departments WHERE department LIKE '%er%';

department,division
Computers,Electronics
Grocery,Home
Jewelery,Home

In [21]:
-- select all departments whose department name starts with M
SELECT * FROM departments WHERE department LIKE 'M%';

department,division
Music,Entertainment
Movies,Entertainment

In [28]:
-- select employees whose salary are greater than 890000
SELECT * FROM employees WHERE salary > 890000;

id,first_name,last_name,email,hire_date,department,gender,salary,region_id
136,Mata,Burnel,mburnel3r@over-blog.com,2013-12-07,Automotive,M,891362.71,3
244,Em,Hayen,ehayen6r@cdc.gov,2015-03-19,Books,M,893687.39,3
323,Lorinda,Challis,lchallis8y@t.co,2016-12-14,Shoes,F,890897.12,6
385,Sabrina,Logie,slogieao@usda.gov,2017-06-20,Computers,F,891062.15,1
460,Isaak,Wotton,iwottoncr@jigsy.com,2013-06-29,Music,M,899971.34,3
612,Amara,Balls,NULL,2015-10-17,Shoes,F,895204.82,6

In [30]:
-- select employees whose salary are less than 20000
SELECT * FROM employees WHERE salary < 20000;

id,first_name,last_name,email,hire_date,department,gender,salary,region_id
115,Averil,Woodthorpe,awoodthorpe36@ezinearticles.com,2019-03-09,Garden,M,11353.80,7
181,Bekki,Christon,bchriston50@pinterest.com,2013-06-28,Clothing,F,14653.36,6
209,Candide,Arnhold,carnhold5s@ifeng.com,2019-02-22,Clothing,F,18282.88,5
242,Ava,Hugli,ahugli6p@ameblo.jp,2018-09-16,Books,F,11442.83,1
268,Clerkclaude,Mussalli,cmussalli7f@pinterest.com,2016-02-11,Automotive,M,14496.80,4
330,Rachel,Robinson,rrobinson95@live.com,2014-01-21,Beauty,F,15189.47,4
441,Arnie,Gillani,agillanic8@weibo.com,2013-11-04,Automotive,M,13182.30,1