In [1]:
SELECT COUNT(id) FROM employees;

count
620

In [2]:
SELECT UPPER(first_name) FROM employees LIMIT 5;

upper
ARABELE
MANUEL
PINCHAS
PIERSON
MUIRE

In [3]:
SELECT LOWER(first_name) FROM employees LIMIT 5;

lower
arabele
manuel
pinchas
pierson
muire

In [5]:
SELECT department, LENGTH(department) FROM departments LIMIT 5;

department,length
Computers,9
Automotive,10
Books,5
Shoes,5
Grocery,7

In [6]:
SELECT ' Hello World ';

Column1
Hello World

In [7]:
SELECT TRIM('   Hello World   ');

btrim
Hello World

In [8]:
SELECT LENGTH('   Hello World   ');

length
17

In [9]:
SELECT LENGTH(TRIM('   Hello World   '));

length
11

In [11]:
SELECT first_name || ' ' || last_name AS "Full Name" FROM employees LIMIT 5;

Full Name
Arabele Cancellieri
Manuel Giffaut
Pinchas Bargery
Pierson McCrudden
Muire Rapsey

In [13]:
SELECT first_name || ' ' || last_name AS "Full Name", (salary > 200000) AS "More Money"
FROM employees LIMIT 5;

Full Name,More Money
Arabele Cancellieri,True
Manuel Giffaut,True
Pinchas Bargery,True
Pierson McCrudden,True
Muire Rapsey,True

In [18]:
SELECT department, ('Computers' in (department)) AS "In Music" FROM employees LIMIT 10;

department,In Music
Books,False
Computers,True
Grocery,False
Games,False
Beauty,False
Jewelery,False
Toys,False
Computers,True
Beauty,False
Movies,False

In [20]:
SELECT department, (department LIKE 'M%') AS "Starts With M" FROM employees LIMIT 10;

department,Starts With M
Books,False
Computers,False
Grocery,False
Games,False
Beauty,False
Jewelery,False
Toys,False
Computers,False
Beauty,False
Movies,True

In [22]:
SELECT SUBSTRING('This is test data', 4, 6);

substring
s is t

In [23]:
SELECT SUBSTRING('This is test data' FROM 5 FOR 7);

substring
is tes

In [26]:
SELECT department, REPLACE(department, 'Books', 'Whatever!') FROM departments;

department,replace
Computers,Computers
Automotive,Automotive
Books,Whatever!
Shoes,Shoes
Grocery,Grocery
Beauty,Beauty
Clothing,Clothing
Games,Games
Music,Music
Garden,Garden
Jewelery,Jewelery
Toys,Toys
Movies,Movies

In [27]:
SELECT POSITION('@' IN email) FROM employees LIMIT 5;

position
14
10
10
12
9

In [30]:
SELECT SUBSTRING(email FROM POSITION('@' IN email) + 1) AS domain
FROM employees LIMIT 5;

domain
networkadvertising.org
google.es
irs.gov
mysql.com
zimbio.com

In [33]:
SELECT COALESCE(email, 'N/A') AS email FROM employees
ORDER BY id DESC LIMIT 10;

email
alanfear2r@aol.com
cthame2q@com.com
jpecha2p@naver.com
kingall2o@yale.edu
abrickett2n@oaic.gov.au
lomullan2m@ning.com
nfigge2l@bluehost.com
N/A
N/A
N/A