In [2]:
SELECT first_name, salary
FROM employees e1
WHERE salary > (
    SELECT ROUND(AVG(salary)) FROM employees e2
    WHERE e1.department = e2.department
)
LIMIT 10;

first_name,salary
Arabele,722198.30
Melony,808765.04
Lesly,693861.00
Nichol,851247.94
Noble,573624.98
Dita,785787.29
Maryl,653410.59
Benedicto,700440.62
Horace,664053.11
Celene,514976.94

In [4]:
SELECT first_name, department, salary, (
    SELECT ROUND(AVG(salary)) FROM employees e2
    WHERE e1.department = e2.department
) AS average_departmental_salary
FROM employees e1
LIMIT 10;

first_name,department,salary,average_departmental_salary
Arabele,Books,722198.30,461076
Manuel,Computers,381553.72,500776
Pinchas,Grocery,294478.26,501584
Pierson,Games,401075.77,436411
Muire,Beauty,274068.20,438270
Melony,Jewelery,808765.04,462669
Berkley,Toys,127556.89,472811
Lesly,Computers,693861.00,500776
Nichol,Beauty,851247.94,438270
Delmore,Movies,110128.68,486536