In [1]:
-- create database
-- CREATE DATABASE learnings;

In [1]:
-- create departments table
CREATE TABLE departments(
    department VARCHAR(100),
    division VARCHAR(100),
    PRIMARY KEY (department)
);

In [2]:
-- populate departments from dummy_departments.sql

In [3]:
-- create regions table
CREATE TABLE regions (
    id INTEGER,
    name VARCHAR(20),
    country VARCHAR(20),
    PRIMARY KEY (id)
);

In [4]:
-- populate regions table from dummy_regions.sql

In [5]:
-- create employees table
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    hire_date DATE,
    department VARCHAR(50),
    gender VARCHAR(1),
    salary DECIMAL(10, 2),
    region_id INTEGER REFERENCES regions(id)
);

In [6]:
-- populate employees table from dummy_employees.sql

In [2]:
-- create customers table
CREATE TABLE customers(
    id INTEGER PRIMARY KEY,
    firstname VARCHAR(120) NOT NULL,
    lastname VARCHAR(120) NOT NULL,
    address VARCHAR(250)
)

In [4]:
-- insert data into table
INSERT INTO customers(id, firstname, lastname, address) VALUES
    (1, 'John', 'Doe', 'New York'),
    (2, 'Jane', 'Doe', 'York');

In [9]:
-- insert one more customer
INSERT INTO customers(id, firstname, lastname, address) VALUES(
    3, 'John', 'Watson', 'London'
);

In [13]:
-- create items table
CREATE TABLE items(
    id SERIAL PRIMARY KEY, -- serial is autoincrement number
    name VARCHAR(255) NOT NULL,
    price DECIMAL(6, 2)
);

In [14]:
-- insert bunch of data
INSERT INTO items(name, price) VALUES
    ('Pencil', 12.20),
    ('Sharpner', 9.00),
    ('Notebook', 20),
    ('Spiral Pad', 120),
    ('Glue stick', 48),
    ('White board', 580);

In [16]:
-- update price of Glue stick
UPDATE items SET price=50 WHERE id=5;

In [18]:
-- delete spiral pad
DELETE FROM items WHERE id=4;